* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.flex-row-container {
  height: 400px;
  display: flex;
  background-color: #f4f4f4;

  /*flex-wrap: wrap;*/
}

.flex-column-container {
  height: 500px;
  display: flex;
  flex-direction: column; /*row (default)/row-reverse*/
  background-color: #f4f4f4;

  /*Always is one the main axis*/
  justify-content: end; /* start/end/center/space-around/ */
  /*Always on the cross axis*/
  align-items: start; /*start/end/center */
}

.item {
  flex-basis: 300px;
  width: 100px;
  height: 100px;
  background: #254de4;
  color: #fff;
  margin: 10px;

  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.item:nth-of-type(1) {

}

.item:nth-of-type(2) {
}

.item:nth-of-type(3) {

}
